In [ ]:
# in case export to pdf doens't work
#!sudo apt-get install texlive-xetex texlive-fonts-recommended texlive-plain-generic

In [11]:
import kagglehub
from kagglehub import KaggleDatasetAdapter
import pandas as pd
import ast

/home/benjamin/.pyenv/versions/3.10.6/envs/floportop/lib/python3.10/site-packages/tqdm/auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [12]:
def load_csv(file_path):
    return kagglehub.load_dataset(
        KaggleDatasetAdapter.PANDAS,
        "rounakbanik/the-movies-dataset",
        file_path,
    )

movies = load_csv("movies_metadata.csv")
credits = load_csv("credits.csv")
keywords = load_csv("keywords.csv")
links = load_csv("links.csv")
links_small = load_csv("links_small.csv")

/tmp/ipykernel_162664/1641172065.py:2: DeprecationWarning: load_dataset is deprecated and will be removed in future version.
  return kagglehub.load_dataset(

Warning: Looks like you're using an outdated `kagglehub` version (installed: 0.3.10), please consider upgrading to the latest version (0.4.1).

/home/benjamin/.pyenv/versions/3.10.6/envs/floportop/lib/python3.10/site-packages/kagglehub/pandas_datasets.py:91: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  result = read_function(
/tmp/ipykernel_162664/1641172065.py:2: DeprecationWarning: load_dataset is deprecated and will be removed in future version.
  return kagglehub.load_dataset(

Warning: Looks like you're using an outdated `kagglehub` version (installed: 0.3.10), please consider upgrading to the latest version (0.4.1).

/tmp/ipykernel_162664/1641172065.py:2: DeprecationWarning: load_dataset is deprecated and will be removed in future version.
  return kagglehub.load_dataset(

Warning: Looks like you're using an outdated `kagglehub` version (installed: 0.3.10), please consider upgrading to the latest version (0.4.1).

/tmp/ipykernel_162664/1641172065.py:2: DeprecationWarning: load_dataset is deprecated and will be removed in future version.
  return kagglehub.load_dataset(

Warning: Looks like you're using an outdated `kagglehub` version (installed: 0.3.10), please consider upgrading to the latest version (0.4.1).

/tmp/ipykernel_162664/1641172065.py:2: DeprecationWarning: load_dataset is deprecated and will be removed in future version.
  return kagglehub.load_dataset(

Warning: Looks like you're using an outdated `kagglehub` version (installed: 0.3.10), please consider upgrading to the latest version (0.4.1).

In [13]:
movies = movies[movies["id"].str.isnumeric()]
movies["id"] = movies["id"].astype(int)

credits["id"] = credits["id"].astype(int)
keywords["id"] = keywords["id"].astype(int)

In [14]:
links["imdbId"] = links["imdbId"].apply(lambda x: f"tt{x:07d}")
links_small["imdbId"] = links_small["imdbId"].apply(lambda x: f"tt{x:07d}")

In [15]:
df = (
    movies
    .merge(credits, on="id", how="left")
    .merge(keywords, on="id", how="left")
    .merge(links, left_on="id", right_on="tmdbId", how="left")
)
df.head()

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,title,video,vote_average,vote_count,cast,crew,keywords,movieId,imdbId,tmdbId
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,Toy Story,False,7.7,5415.0,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...","[{'id': 931, 'name': 'jealousy'}, {'id': 4290,...",1,tt0114709,862.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,Jumanji,False,6.9,2413.0,"[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de...","[{'id': 10090, 'name': 'board game'}, {'id': 1...",2,tt0113497,8844.0
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,Grumpier Old Men,False,6.5,92.0,"[{'cast_id': 2, 'character': 'Max Goldman', 'c...","[{'credit_id': '52fe466a9251416c75077a89', 'de...","[{'id': 1495, 'name': 'fishing'}, {'id': 12392...",3,tt0113228,15602.0
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,Waiting to Exhale,False,6.1,34.0,"[{'cast_id': 1, 'character': ""Savannah 'Vannah...","[{'credit_id': '52fe44779251416c91011acb', 'de...","[{'id': 818, 'name': 'based on novel'}, {'id':...",4,tt0114885,31357.0
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,Father of the Bride Part II,False,5.7,173.0,"[{'cast_id': 1, 'character': 'George Banks', '...","[{'credit_id': '52fe44959251416c75039ed7', 'de...","[{'id': 1009, 'name': 'baby'}, {'id': 1599, 'n...",5,tt0113041,11862.0

In [16]:
def parse_json(col):
    return col.apply(lambda x: ast.literal_eval(x) if pd.notna(x) else [])

In [17]:
df["genres"] = parse_json(df["genres"])
df["keywords"] = parse_json(df["keywords"])
df["cast"] = parse_json(df["cast"])
df["crew"] = parse_json(df["crew"])

In [18]:
df.sample()

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,title,video,vote_average,vote_count,cast,crew,keywords,movieId,imdbId,tmdbId
14133,False,NaN,0,"[{'id': 35, 'name': 'Comedy'}]",NaN,23720,tt1334537,en,Humpday,Imagine your life is somewhat complete with a ...,...,Humpday,False,5.6,27.0,"[{'cast_id': 3, 'character': 'Ben', 'credit_id...","[{'credit_id': '52fe4473c3a368484e023d89', 'de...","[{'id': 10183, 'name': 'independent film'}, {'...",69988,tt1334537,23720.0

In [19]:
df["genre_names"] = df["genres"].apply(
    lambda xs: [x["name"] for x in xs]
)

In [20]:
df['genre_names'].sample(4)

20170                      [Drama]
9563             [Comedy, Romance]
18738    [Action, Drama, Thriller]
31733                           []
Name: genre_names, dtype: object

In [21]:
df["keyword_names"] = df["keywords"].apply(
    lambda xs: [x["name"] for x in xs]
)

In [22]:
df['keyword_names'].sample(4)

865                                                     []
30640                                                [nun]
27288                                                   []
3618     [poison, fbi, zoo, chase, sexual attraction, d...
Name: keyword_names, dtype: object

In [23]:
df["cast_top"] = df["cast"].apply(
    lambda xs: [x["name"] for x in xs[:10]]
)

In [25]:
df['cast_top'].sample(4)

26384    [Bertille Noël-Bruneau, Isabelle Carré, Kate W...
10783    [Corbin Bernsen, Linda Hoffman, Michael Stadve...
43360    [Ellise Chappell, Andrew Buchan, Richard E. Gr...
17693      [Natale Rossi, Roberto Seveso, Paolo Guadrubbi]
Name: cast_top, dtype: object

In [26]:
df["directors"] = df["crew"].apply(
    lambda xs: [x["name"] for x in xs if x["job"] == "Director"]
)

In [27]:
df["year"] = pd.to_datetime(
    df["release_date"], errors="coerce"
).dt.year

df["runtime"] = pd.to_numeric(df["runtime"], errors="coerce")
df["vote_average"] = pd.to_numeric(df["vote_average"], errors="coerce")
df["vote_count"] = pd.to_numeric(df["vote_count"], errors="coerce")
df["popularity"] = pd.to_numeric(df["popularity"], errors="coerce")

In [28]:
wide_df = df[[
    "id",                 # TMDB ID
    "imdbId",             # IMDb ID (primary external key)
    "title",
    "original_title",
    "overview",
    "genre_names",
    "keyword_names",
    "cast_top",
    "directors",
    "original_language",
    "year",
    "runtime",
    "vote_average",
    "vote_count",
    "popularity",
]].reset_index(drop=True)

In [29]:
wide_df.sample(3)

,id,imdbId,title,original_title,overview,genre_names,keyword_names,cast_top,directors,original_language,year,runtime,vote_average,vote_count,popularity
42862,376502,tt5222646,The Blackout Experiments,The Blackout Experiments,You arrive at a secret location at a precise t...,"[Horror, Documentary]",[],"[Andrew Gallagher, Jessica Sowa]",[Rich Fox],en,2016.0,80.0,5.0,3.0,0.147848
43739,328840,tt4328666,The Primary Instinct,The Primary Instinct,Actor Stephen Tobolowsky has acted in over 200...,"[Drama, Documentary]",[storytelling],[Stephen Tobolowsky],[David Chen],en,2015.0,73.0,7.0,7.0,0.545911
23867,209185,tt2319580,The Grand Seduction,The Grand Seduction,A small fishing village must procure a local d...,[Comedy],"[newfoundland, doctor, bribery, new job, hospi...","[Brendan Gleeson, Taylor Kitsch, Gordon Pinsen...",[Don McKellar],en,2014.0,112.0,6.7,109.0,15.108283

In [30]:
wide_df["embedding_text"] = (
    "Title: " + wide_df["title"].fillna("") + "\n"
    "Overview: " + wide_df["overview"].fillna("") + "\n"
    "Genres: " + wide_df["genre_names"].apply(lambda x: ", ".join(x)) + "\n"
    "Keywords: " + wide_df["keyword_names"].apply(lambda x: ", ".join(x)) + "\n"
    "Cast: " + wide_df["cast_top"].apply(lambda x: ", ".join(x)) + "\n"
    "Director: " + wide_df["directors"].apply(lambda x: ", ".join(x))
)

In [31]:
wide_df["embedding_text"].sample(4)

38322    Title: The Tale of the Fox\nOverview: In the k...
30180    Title: Lightning Over Water\nOverview: Directo...
33224    Title: A Diva's Christmas Carol\nOverview: A r...
36159    Title: We Were Here: Part 2\nOverview: During ...
Name: embedding_text, dtype: object

## NEW STUFF INSERTED BY BEN FOR FEATURE EXTRACTION FROM WIDE_DF OVERVIEW COLUMN STARTS BELOW THIS CELL, EVERYTHING ABOVE FROM IGORS NOTEBOOK ##

In [32]:
# Start by making sure the overview column is properly cleaned

def clean_overview(text: str) -> str:

    """ Basic cleaning step for plot overviews. Keeps meaning intact, only normalizes formatting."""

    import re
    if text is None:
        return ""
    text = str(text).lower()
    text = re.sub(r"\s+", " ", text).strip()
    return text


wide_df["overview_clean"] = wide_df["overview"].apply(clean_overview)

In [33]:
# Check the current output

wide_df["overview_clean"].head(5)

0    led by woody, andy's toys live happily in his ...
1    when siblings judy and peter discover an encha...
2    a family wedding reignites the ancient feud be...
3    cheated on, mistreated and stepped on, the wom...
4    just when george banks has recovered from his ...
Name: overview_clean, dtype: object

In [34]:
# TF-IDF is used to transform plot descriptions into weighted text features.

from sklearn.feature_extraction.text import TfidfVectorizer

def build_tfidf_overviews(text_series, max_features=8000, min_df=10):

    """ Builds TF-IDF features from plot overviews. Used to extract important plot terms per movie."""

    vectorizer = TfidfVectorizer(
        stop_words="english",
        ngram_range=(1, 2),
        min_df=min_df,
        max_features=max_features
    )
    X_tfidf = vectorizer.fit_transform(text_series)
    return X_tfidf, vectorizer


X_overview, tfidf_vectorizer = build_tfidf_overviews(wide_df["overview_clean"])
tfidf_feature_names = tfidf_vectorizer.get_feature_names_out()

# Cell runtime on my machine: 4.7s

In [35]:
# The top TF-IDF terms are used to summarize each movies plot

import numpy as np

def extract_top_plot_terms(X_tfidf, feature_names, row_idx, top_k=8):

    """ Returns the most relevant TF-IDF terms for one movie plot. Used later for simple explainability."""

    row = X_tfidf[row_idx].toarray().ravel()
    if row.sum() == 0:
        return []
    top_idx = row.argsort()[-top_k:][::-1]
    return [feature_names[i] for i in top_idx if row[i] > 0]


wide_df["plot_main_points"] = [
    extract_top_plot_terms(X_overview, tfidf_feature_names, i)
    for i in range(len(wide_df))
]

# Cell runtime on my machine: 31.4s

In [36]:
# LDA is used to group movies into recurring plot topics based on their descriptions

from sklearn.decomposition import LatentDirichletAllocation

RANDOM_STATE = 1

def fit_lda_topics(X_tfidf, n_topics=14, random_state=RANDOM_STATE):
    """ Fit LDA on TF-IDF plot features and return topic probabilities per movie. """
    lda = LatentDirichletAllocation(
        n_components=n_topics,
        random_state=random_state
    )
    topic_dist = lda.fit_transform(X_tfidf)
    return lda, topic_dist


lda_model, topic_dist = fit_lda_topics(X_overview, n_topics=14)

# Each movie is assigned its most likely topic along with the corresponding confidence score. Not sure if we will really need this but nice to have for now
wide_df["dominant_topic"] = topic_dist.argmax(axis=1)
wide_df["topic_confidence"] = topic_dist.max(axis=1)

# Cell runtime on my machine: 36.3s

In [37]:
wide_df.head(3)

,id,imdbId,title,original_title,overview,genre_names,keyword_names,cast_top,directors,original_language,year,runtime,vote_average,vote_count,popularity,embedding_text,overview_clean,plot_main_points,dominant_topic,topic_confidence
0,862,tt0114709,Toy Story,Toy Story,"Led by Woody, Andy's toys live happily in his ...","[Animation, Comedy, Family]","[jealousy, toy, boy, friendship, friends, riva...","[Tom Hanks, Tim Allen, Don Rickles, Jim Varney...",[John Lasseter],en,1995.0,81.0,7.7,5415.0,21.946943,"Title: Toy Story\nOverview: Led by Woody, Andy...","led by woody, andy's toys live happily in his ...","[woody, andy, toys, aside, afraid, differences...",9,0.815731
1,8844,tt0113497,Jumanji,Jumanji,When siblings Judy and Peter discover an encha...,"[Adventure, Fantasy, Family]","[board game, disappearance, based on children'...","[Robin Williams, Jonathan Hyde, Kirsten Dunst,...",[Joe Johnston],en,1995.0,104.0,6.9,2413.0,17.015539,Title: Jumanji\nOverview: When siblings Judy a...,when siblings judy and peter discover an encha...,"[game, alan, risky, trapped inside, 26, judy, ...",12,0.613343
2,15602,tt0113228,Grumpier Old Men,Grumpier Old Men,A family wedding reignites the ancient feud be...,"[Romance, Comedy]","[fishing, best friend, duringcreditsstinger, o...","[Walter Matthau, Jack Lemmon, Ann-Margret, Sop...",[Howard Deutch],en,1995.0,101.0,6.5,92.0,11.712900,Title: Grumpier Old Men\nOverview: A family we...,a family wedding reignites the ancient feud be...,"[max, worry, scare, cooking, feud, buddies, fi...",9,0.840365

## EXPORT THE FINALIZED DATAFRAME

In [39]:
# pip install fastparquet required

wide_df.to_parquet("wide_df_features.parquet", engine="fastparquet", index=False)

In [ ]:
# Import the dataframe into another notebook:

# import pandas as pd
# df = pd.read_parquet("wide_df_features.parquet", engine="fastparquet")