In [ ]:
# in case export to pdf doens't work
#!sudo apt-get install texlive-xetex texlive-fonts-recommended texlive-plain-generic

In [2]:
import kagglehub
from kagglehub import KaggleDatasetAdapter
import pandas as pd
import ast

/home/benjamin/.pyenv/versions/3.10.6/envs/floportop/lib/python3.10/site-packages/tqdm/auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [3]:
def load_csv(file_path):
    return kagglehub.load_dataset(
        KaggleDatasetAdapter.PANDAS,
        "rounakbanik/the-movies-dataset",
        file_path,
    )

movies = load_csv("movies_metadata.csv")
credits = load_csv("credits.csv")
keywords = load_csv("keywords.csv")
links = load_csv("links.csv")
links_small = load_csv("links_small.csv")

/tmp/ipykernel_12250/1641172065.py:2: DeprecationWarning: Use dataset_load() instead of load_dataset(). load_dataset() will be removed in a future version.
  return kagglehub.load_dataset(

Downloading to /home/benjamin/.cache/kagglehub/datasets/rounakbanik/the-movies-dataset/versions/7/movies_metadata.csv...

100%|██████████| 12.2M/12.2M [00:01<00:00, 6.98MB/s]

Extracting zip of movies_metadata.csv...

/home/benjamin/.pyenv/versions/3.10.6/envs/floportop/lib/python3.10/site-packages/kagglehub/pandas_datasets.py:92: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  result = read_function(
/tmp/ipykernel_12250/1641172065.py:2: DeprecationWarning: Use dataset_load() instead of load_dataset(). load_dataset() will be removed in a future version.
  return kagglehub.load_dataset(

Downloading to /home/benjamin/.cache/kagglehub/datasets/rounakbanik/the-movies-dataset/versions/7/credits.csv...

100%|██████████| 43.1M/43.1M [00:04<00:00, 9.09MB/s]

Extracting zip of credits.csv...

/tmp/ipykernel_12250/1641172065.py:2: DeprecationWarning: Use dataset_load() instead of load_dataset(). load_dataset() will be removed in a future version.
  return kagglehub.load_dataset(

Downloading to /home/benjamin/.cache/kagglehub/datasets/rounakbanik/the-movies-dataset/versions/7/keywords.csv...

100%|██████████| 1.39M/1.39M [00:00<00:00, 1.87MB/s]

Extracting zip of keywords.csv...

/tmp/ipykernel_12250/1641172065.py:2: DeprecationWarning: Use dataset_load() instead of load_dataset(). load_dataset() will be removed in a future version.
  return kagglehub.load_dataset(

Downloading to /home/benjamin/.cache/kagglehub/datasets/rounakbanik/the-movies-dataset/versions/7/links.csv...

100%|██████████| 966k/966k [00:00<00:00, 1.20MB/s]
/tmp/ipykernel_12250/1641172065.py:2: DeprecationWarning: Use dataset_load() instead of load_dataset(). load_dataset() will be removed in a future version.
  return kagglehub.load_dataset(

Downloading to /home/benjamin/.cache/kagglehub/datasets/rounakbanik/the-movies-dataset/versions/7/links_small.csv...

100%|██████████| 179k/179k [00:00<00:00, 369kB/s]

In [4]:
movies = movies[movies["id"].str.isnumeric()]
movies["id"] = movies["id"].astype(int)

credits["id"] = credits["id"].astype(int)
keywords["id"] = keywords["id"].astype(int)

In [5]:
links["imdbId"] = links["imdbId"].apply(lambda x: f"tt{x:07d}")
links_small["imdbId"] = links_small["imdbId"].apply(lambda x: f"tt{x:07d}")

In [6]:
df = (
    movies
    .merge(credits, on="id", how="left")
    .merge(keywords, on="id", how="left")
    .merge(links, left_on="id", right_on="tmdbId", how="left")
)
df.head()

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,title,video,vote_average,vote_count,cast,crew,keywords,movieId,imdbId,tmdbId
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,Toy Story,False,7.7,5415.0,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...","[{'id': 931, 'name': 'jealousy'}, {'id': 4290,...",1,tt0114709,862.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,Jumanji,False,6.9,2413.0,"[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de...","[{'id': 10090, 'name': 'board game'}, {'id': 1...",2,tt0113497,8844.0
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,Grumpier Old Men,False,6.5,92.0,"[{'cast_id': 2, 'character': 'Max Goldman', 'c...","[{'credit_id': '52fe466a9251416c75077a89', 'de...","[{'id': 1495, 'name': 'fishing'}, {'id': 12392...",3,tt0113228,15602.0
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,Waiting to Exhale,False,6.1,34.0,"[{'cast_id': 1, 'character': ""Savannah 'Vannah...","[{'credit_id': '52fe44779251416c91011acb', 'de...","[{'id': 818, 'name': 'based on novel'}, {'id':...",4,tt0114885,31357.0
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,Father of the Bride Part II,False,5.7,173.0,"[{'cast_id': 1, 'character': 'George Banks', '...","[{'credit_id': '52fe44959251416c75039ed7', 'de...","[{'id': 1009, 'name': 'baby'}, {'id': 1599, 'n...",5,tt0113041,11862.0

In [7]:
def parse_json(col):
    return col.apply(lambda x: ast.literal_eval(x) if pd.notna(x) else [])

In [8]:
df["genres"] = parse_json(df["genres"])
df["keywords"] = parse_json(df["keywords"])
df["cast"] = parse_json(df["cast"])
df["crew"] = parse_json(df["crew"])

In [9]:
df.sample()

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,title,video,vote_average,vote_count,cast,crew,keywords,movieId,imdbId,tmdbId
29357,False,"{'id': 333000, 'name': ""Santa's Apprentice"", '...",0,"[{'id': 10751, 'name': 'Family'}, {'id': 16, '...",NaN,51450,tt1754455,fr,Santa's Apprentice,"Santa doesn't want to retire, but rules are ru...",...,Santa's Apprentice,False,4.9,6.0,"[{'cast_id': 2, 'character': 'Humphrey', 'cred...","[{'credit_id': '52fe47f4c3a36847f8151289', 'de...","[{'id': 1991, 'name': 'santa claus'}, {'id': 9...",131058,tt1754455,51450.0

In [10]:
df["genre_names"] = df["genres"].apply(
    lambda xs: [x["name"] for x in xs]
)

In [11]:
df['genre_names'].sample(4)

45926                                          [Comedy]
6048                            [Drama, Music, Romance]
5876     [Science Fiction, Action, Adventure, Thriller]
16164                   [Adventure, Animation, Fantasy]
Name: genre_names, dtype: object

In [12]:
df["keyword_names"] = df["keywords"].apply(
    lambda xs: [x["name"] for x in xs]
)

In [13]:
df['keyword_names'].sample(4)

35936                    []
15628            [suspense]
43058             [musical]
11566    [music instrument]
Name: keyword_names, dtype: object

In [14]:
df["cast_top"] = df["cast"].apply(
    lambda xs: [x["name"] for x in xs[:10]]
)

In [15]:
df['cast_top'].sample(4)

34280    [Kim Sang-kyung, Kim Sung-kyun, Park Sung-woon...
22723                         [Hugh O'Brian, Anne Francis]
29165    [David Morse, Rainn Wilson, Jared Breeze, Mike...
150      [Val Kilmer, Tommy Lee Jones, Jim Carrey, Nico...
Name: cast_top, dtype: object

In [16]:
df["directors"] = df["crew"].apply(
    lambda xs: [x["name"] for x in xs if x["job"] == "Director"]
)

In [17]:
df["year"] = pd.to_datetime(
    df["release_date"], errors="coerce"
).dt.year

df["runtime"] = pd.to_numeric(df["runtime"], errors="coerce")
df["vote_average"] = pd.to_numeric(df["vote_average"], errors="coerce")
df["vote_count"] = pd.to_numeric(df["vote_count"], errors="coerce")
df["popularity"] = pd.to_numeric(df["popularity"], errors="coerce")

In [18]:
wide_df = df[[
    "id",                 # TMDB ID
    "imdbId",             # IMDb ID (primary external key)
    "title",
    "original_title",
    "overview",
    "genre_names",
    "keyword_names",
    "cast_top",
    "directors",
    "original_language",
    "year",
    "runtime",
    "vote_average",
    "vote_count",
    "popularity",
]].reset_index(drop=True)

In [19]:
wide_df.sample(3)

,id,imdbId,title,original_title,overview,genre_names,keyword_names,cast_top,directors,original_language,year,runtime,vote_average,vote_count,popularity
10085,39851,tt0388838,Clean,Clean,"After losing her husband to a heroin overdose,...",[Drama],"[addiction, recovering drug addict, estranged ...","[Maggie Cheung, Nick Nolte, Béatrice Dalle, Je...",[Olivier Assayas],en,2004.0,111.0,6.7,17.0,2.767142
7819,26142,tt0101746,The Doctor,The Doctor,Jack McKee is a doctor with it all: he's succe...,[Drama],"[hospital, doctor, surgery, woman director]","[William Hurt, Christine Lahti, Elizabeth Perk...",[Randa Haines],en,1991.0,122.0,6.6,24.0,8.337242
2385,9671,tt0090555,Crocodile Dundee,Crocodile Dundee,When a New York reporter plucks crocodile hunt...,"[Adventure, Comedy]","[new york, prostitute, hotel, journalist, cult...","[Paul Hogan, Linda Kozlowski, Mark Blum, David...",[Peter Faiman],en,1986.0,97.0,6.3,512.0,7.791212

In [20]:
wide_df["embedding_text"] = (
    "Title: " + wide_df["title"].fillna("") + "\n"
    "Overview: " + wide_df["overview"].fillna("") + "\n"
    "Genres: " + wide_df["genre_names"].apply(lambda x: ", ".join(x)) + "\n"
    "Keywords: " + wide_df["keyword_names"].apply(lambda x: ", ".join(x)) + "\n"
    "Cast: " + wide_df["cast_top"].apply(lambda x: ", ".join(x)) + "\n"
    "Director: " + wide_df["directors"].apply(lambda x: ", ".join(x))
)

In [21]:
wide_df["embedding_text"].sample(4)

34347    Title: Behind Locked Doors\nOverview: Behind t...
30792    Title: The End of a Mystery\nOverview: Joaquin...
23284    Title: Black Hand\nOverview: In turn-of-the-ce...
3618     Title: Bird on a Wire\nOverview: A FBI informa...
Name: embedding_text, dtype: object

## NEW STUFF INSERTED BY BEN FOR FEATURE EXTRACTION FROM WIDE_DF OVERVIEW COLUMN STARTS BELOW THIS CELL, EVERYTHING ABOVE FROM IGORS NOTEBOOK ##

In [ ]:
# Start by making sure the overview column is properly cleaned

def clean_overview(text: str) -> str:

    """ Basic cleaning step for plot overviews. Keeps meaning intact, only normalizes formatting."""

    import re
    if text is None:
        return ""
    text = str(text).lower()
    text = re.sub(r"\s+", " ", text).strip()
    return text


wide_df["overview_clean"] = wide_df["overview"].apply(clean_overview)

In [ ]:
# Check the current output

wide_df["overview_clean"].head(5)

0    led by woody, andy's toys live happily in his ...
1    when siblings judy and peter discover an encha...
2    a family wedding reignites the ancient feud be...
3    cheated on, mistreated and stepped on, the wom...
4    just when george banks has recovered from his ...
Name: overview_clean, dtype: object

In [ ]:
# TF-IDF is used to transform plot descriptions into weighted text features.

from sklearn.feature_extraction.text import TfidfVectorizer

def build_tfidf_overviews(text_series, max_features=8000, min_df=10):

    """ Builds TF-IDF features from plot overviews. Used to extract important plot terms per movie."""

    vectorizer = TfidfVectorizer(
        stop_words="english",
        ngram_range=(1, 2),
        min_df=min_df,
        max_features=max_features
    )
    X_tfidf = vectorizer.fit_transform(text_series)
    return X_tfidf, vectorizer


X_overview, tfidf_vectorizer = build_tfidf_overviews(wide_df["overview_clean"])
tfidf_feature_names = tfidf_vectorizer.get_feature_names_out()

# Cell runtime on my machine: 4.7s

In [ ]:
# The top TF-IDF terms are used to summarize each movies plot

import numpy as np

def extract_top_plot_terms(X_tfidf, feature_names, row_idx, top_k=8):

    """ Returns the most relevant TF-IDF terms for one movie plot. Used later for simple explainability."""

    row = X_tfidf[row_idx].toarray().ravel()
    if row.sum() == 0:
        return []
    top_idx = row.argsort()[-top_k:][::-1]
    return [feature_names[i] for i in top_idx if row[i] > 0]


wide_df["plot_main_points"] = [
    extract_top_plot_terms(X_overview, tfidf_feature_names, i)
    for i in range(len(wide_df))
]

# Cell runtime on my machine: 31.4s

In [ ]:
# LDA is used to group movies into recurring plot topics based on their descriptions

from sklearn.decomposition import LatentDirichletAllocation

RANDOM_STATE = 1

def fit_lda_topics(X_tfidf, n_topics=14, random_state=RANDOM_STATE):
    """ Fit LDA on TF-IDF plot features and return topic probabilities per movie. """
    lda = LatentDirichletAllocation(
        n_components=n_topics,
        random_state=random_state
    )
    topic_dist = lda.fit_transform(X_tfidf)
    return lda, topic_dist


lda_model, topic_dist = fit_lda_topics(X_overview, n_topics=14)

# Each movie is assigned its most likely topic along with the corresponding confidence score. Not sure if we will really need this but nice to have for now
wide_df["dominant_topic"] = topic_dist.argmax(axis=1)
wide_df["topic_confidence"] = topic_dist.max(axis=1)

# Cell runtime on my machine: 36.3s

In [31]:
wide_df.head(3)

,id,imdbId,title,original_title,overview,genre_names,keyword_names,cast_top,directors,original_language,year,runtime,vote_average,vote_count,popularity,embedding_text,overview_clean,plot_main_points,dominant_topic,topic_confidence
0,862,tt0114709,Toy Story,Toy Story,"Led by Woody, Andy's toys live happily in his ...","[Animation, Comedy, Family]","[jealousy, toy, boy, friendship, friends, riva...","[Tom Hanks, Tim Allen, Don Rickles, Jim Varney...",[John Lasseter],en,1995.0,81.0,7.7,5415.0,21.946943,"Title: Toy Story\nOverview: Led by Woody, Andy...","led by woody, andy's toys live happily in his ...","[woody, andy, toys, aside, afraid, differences...",9,0.815731
1,8844,tt0113497,Jumanji,Jumanji,When siblings Judy and Peter discover an encha...,"[Adventure, Fantasy, Family]","[board game, disappearance, based on children'...","[Robin Williams, Jonathan Hyde, Kirsten Dunst,...",[Joe Johnston],en,1995.0,104.0,6.9,2413.0,17.015539,Title: Jumanji\nOverview: When siblings Judy a...,when siblings judy and peter discover an encha...,"[game, alan, risky, trapped inside, 26, judy, ...",12,0.613343
2,15602,tt0113228,Grumpier Old Men,Grumpier Old Men,A family wedding reignites the ancient feud be...,"[Romance, Comedy]","[fishing, best friend, duringcreditsstinger, o...","[Walter Matthau, Jack Lemmon, Ann-Margret, Sop...",[Howard Deutch],en,1995.0,101.0,6.5,92.0,11.712900,Title: Grumpier Old Men\nOverview: A family we...,a family wedding reignites the ancient feud be...,"[max, worry, scare, cooking, feud, buddies, fi...",9,0.840365